#about-me-section {
  .about-me__description {
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.25;
    @include bp(L) {
      line-height: 1.5;
    }
    
    &:not(:last-child) {
      margin-bottom: margin(XS);
    }
  }

  @include bp(M) {
    .btn-container {
      display: flex;
      justify-content: flex-end;
    }
  }
}
