#about-me-section {
  .about-me__description {
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.1rem;
    
    &:not(:last-child) {
      margin-bottom: margin(XS);
    }
  }

  .btn-container {
    // Match .section__text width
    @include bp(M) {
      width: 60%;
    }
    @include bp(L) {
      width: 45%;
    }
  }
}
