.btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @include bp(S) {
    justify-content: space-around;
  }
}

.btn {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: space-around;
  padding: padding(XS);
  border: none;

  background-color: color(white);
  border-radius: radius(medium);
  border: 1px solid color(accent);
  box-shadow: shadow(medium);
  text-decoration: none;

  @include bp(S) {
    width: 16rem;
  }

  @include bp(M) {
    width: 13rem;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: color(accent);
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;

    color: color(accent);
    font-size: 1.5rem;

    // For some reason, setting these two properties to inherit
    // doesn't quite behave as we expect. Look into this later.
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    letter-spacing: 0.3px;
  }
}

.btn--emphasize,
.btn--header {
  background-color: color(accent);
  color: color(white);

  .btn__icon {
    fill: color(white);
  }

  .btn__text {
    color: color(white);
  }
}
