.btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @include bp(S) {
    justify-content: flex-start;

    & > .btn:not(:last-child) {
      margin-right: margin(S);
    }
  }
}

.btn {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: space-around;
  padding: padding(XS);
  border: none;

  background-color: color(white);
  border: 1px solid color(primary);
  border-radius: radius(medium-big);
  box-shadow: shadow(medium);
  text-decoration: none;
  transition: all 0.2s;

  @include bp(S) {
    width: 16rem;
  }

  @include bp(M) {
    width: 13rem;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: color(primary);
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;

    color: color(primary);
    font-size: 1.5rem;

    // For some reason, setting these two properties to inherit
    // doesn't quite behave as we expect. Look into this later.
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    letter-spacing: 0.3px;

    // Responsively adds and removes text inside button
    .not-small-screens {
      // Hide on mobile screens
      display: none;
      @include bp(XXS) {
        display: inline;
      }
      
      // Hide again to make room for automatically shifting menu on right side
      @include bp(M) {
        display: none;
      }
      @include bp(L) {
        display: inline;
      }
    }
  }
}

@include if-hover() {
  .btn:hover {
    box-shadow: shadow(medium-big);
    cursor: pointer;
    transform: translateY(-3%) scale(1.03);
  }
}

.btn--emphasize,
.btn--navigation {
  border: none;
  background: linear-gradient(to bottom right, lighten(color(primary), 10%), color(primary)); 
  color: color(white);

  .btn__icon {
    fill: color(white);
  }

  .btn__text {
    color: color(white);
  }
}

@include if-hover() {
  .btn--navigation:hover {
    background-color: darken(color(primary), 10%);
  }
}

.btn--navigation {
  // Needed for hamburger icon
  position: relative;
  min-width: 7rem;
  min-height: 7rem;
  width: 7vw;
  height: 7vw;
  margin: margin(XS);
  border: none;
  border-radius: radius(big);
  box-shadow: shadow(big);
}

@include if-hover() {
  .btn--navigation:hover {
    transform: scale(1.1);
  }
}
