.btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @include bp(S) {
    justify-content: flex-start;

    & > .btn:not(:last-child) {
      margin-right: margin(M);
    }
  }
}

.btn {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: space-around;
  padding: padding(XS);
  border: none;

  border: 1px solid color(accent);
  background-color: color(white);
  border-radius: radius(medium);
  box-shadow: shadow(medium);
  text-decoration: none;
  transition: all 0.2s;

  @include bp(S) {
    width: 16rem;
  }

  @include bp(M) {
    width: 13rem;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: color(accent);
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;

    color: color(accent);
    font-size: 1.5rem;

    // For some reason, setting these two properties to inherit
    // doesn't quite behave as we expect. Look into this later.
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    letter-spacing: 0.3px;

    // Responsively adds and removes text inside button
    .not-small-screens {
      display: none;
      @include bp(XXS) {
        display: inline;
      }
    }
  }
}

.btn:hover {
  border: 1px solid darken(color(accent), 10%);
  background-color: darken(color(white), 5%);
  box-shadow: shadow(small);
  cursor: pointer;
  transform: translateY(3%);
}

.btn--emphasize,
.btn--header {
  background-color: color(accent);
  color: color(white);

  .btn__icon {
    fill: color(white);
  }

  .btn__text {
    color: color(white);
  }
}

.btn--header {
  position: relative;
  z-index: 0;
  width: 14rem;
  height: 5rem;
  font-size: 1.7rem;
}

.btn--emphasize:hover,
.btn--header:hover {
  background-color: darken(color(accent), 10%);
  border: 1px solid darken(color(accent), 10%);
}

// Cancel animation when hovering so hover animation can take place
.btn--header:not(:hover) {
  animation: stretch 2s ease-out infinite;
}

.btn--navigation {
  // Needed for hamburger icon
  position: relative;
  width: 5rem;
  height: 5rem;
  border: none;
}
