.header {
  height: 110vh;
  color: color(white);
  overflow: hidden;

  &__text {
    @include bp(M) {
      width: 60%;
    }
    @include bp(L) {
      width: 45%;
    }
  }
  &__title {
    font-size: 6rem;
    margin-bottom: margin(L);
  }
  &__blurb {
    font-size: 2.4rem;
    line-height: 3rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: z(top);
    width: 100%;
    height: 100%;
    // Match content padding to section padding
    padding: padding(XXL) padding(M);
    padding-bottom: 10vh;

    background-color: rgba(color(black), 0.8);

    // Temporarily hardcode padding, revamp padding system later
    @include bp(XS) {
      padding: padding(page-S);
    }
    @include bp(S) {
      padding: padding(page-M);
    }
  }
}

//Unique button for header
.btn--header {
  position: relative;
  z-index: 0;
  width: 12rem;
  height: 5rem;
  font-size: 1.7rem;

  &::after {
    position: absolute;
    z-index: z(bottom);
    width: 100%;
    height: 100%;

    background-color: color(accent);
    border-radius: radius(medium);
    content: '';
    animation: pulse 1.8s ease-out infinite;
  }
}
