.header {
  height: 100vh;
  color: color(white);
  overflow: hidden;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    @include bp(XL) {
      width: 80%;
      height: 80%;
    }
  }
  &__title {
    margin-bottom: margin(M);
    font-size: 4rem;

    @include bp(S) {
      font-size: 6rem;
      margin-bottom: margin(L);
    }
    @include bp(M) {
      font-size: 8rem;
    }
  }
  &__emphasis {
    display: inline-block;
    width: 55rem;
    max-width: 100%;
    padding: padding(XS);
    margin-top: margin(S);

    background-color: color(white);
    border-radius: radius(small);
    box-shadow: shadow(big);
    color: color(primary);
    font-size: 0.75em;
  }
  &__content {  
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    // Match content padding to section padding
    padding: padding(M);
    padding-bottom: 10vh;

    background: linear-gradient(to bottom right, color(primary), color(primary-dark)); 

    @include if-ie() {
      // IE doesn't support space-evenly, so use 
      // the next best thing.
      justify-content: space-around;
    }
    @include if-edge() {
      // IE doesn't support space-evenly, so use 
      // the next best thing.
      justify-content: space-around;
    }

    @include bp(XS) {
      padding: padding(L)
    }
  }
}

.cta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  @include bp(S) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__blurb {
    font-size: 1.8rem;
    line-height: 1.25;
    margin-bottom: margin(M);

    @include bp(S) {
      font-weight: 300;
      width: 35rem;
    }

    @include bp(M) {
      font-size: 2rem;
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;

    @include bp(XS) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  .btn {
    width: 100%;
    height: 28%;
    justify-content: center;

    font-size: 2rem;

    @include bp(XS) {
      width: 45%;
      height: 45%;
      // Make 2.5% since 45% + 2*2.5% = 50%, perfect for two button rows.
      margin: 2.5%;
    }

    &__text {
      font-size: 2rem;

      @include bp(XS) {
        font-size: 1.8rem;
      }
    }
    &__icon {
      width: 3.5rem;
      height: 3.5rem;
      margin-right: margin(S);

      @include bp(XS) {
        width: 3rem;
        height: 3rem;
        margin-right: margin(XS);
      }
    }
  }
}
