.header {
  height: 110vh;
  color: color(white);
  overflow: hidden;

  &__text {
    @include bp(M) {
      width: 60%;
    }
    @include bp(L) {
      width: 45%;
    }
  }
  &__title {
    font-size: 6rem;
    margin-bottom: margin(L);

    @include bp(M) {
      font-size: 9rem;
    }
  }
  &__blurb {
    font-size: 2.1rem;
    line-height: 3rem;

    @include bp(M) {
      font-weight: 300;
    }
  }
  &__content {
    position: relative;
    z-index: z(top);
    
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    // Match content padding to section padding
    padding: padding(XXL) padding(M);
    padding-bottom: 10vh;

    background-color: rgba(color(black), 0.8);

    @include if-ie() {
      // IE doesn't support space-evenly, so use 
      // the next best thing.
      justify-content: space-around;
    }
    @include if-edge() {
      // IE doesn't support space-evenly, so use 
      // the next best thing.
      justify-content: space-around;
    }

    @include bp(XS) {
      padding: padding(page-S);
    }
    @include bp(S) {
      padding: padding(page-M);
    }
  }
}
