.btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: space-around;
  padding: padding(XS) padding(XS);
  border: none;

  background-color: color(accent);
  border-radius: radius(medium);
  text-decoration: none;

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: color(white);
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;

    color: color(white);
    font-size: 1.5rem;

    // For some reason, setting these two properties to inherit
    // doesn't quite behave as we expect. Look into this later.
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    letter-spacing: 0.3px;
  }
}