.navigation {
  position: absolute;
  z-index: 1000;
}

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  // Make it so we can click through overlay while
  // the menu isn't open
  pointer-events: none;
  transition: background-color 0.2s;

  &.isOpen {
    background-color: rgba(color(black), 0.7);
    // Reenable click interactions so user can click on
    // background to close the menu
    pointer-events: initial;
  }
}