.section {
  // Position to be able to place sections on top of background
  // by setting z-index.
  position: relative;
  z-index: z(top);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: padding(XXL) padding(M);

  @include bp(XS) {
    padding: padding(page-S);
  }
  @include bp(S) {
    padding: padding(XXL) padding(page-M);
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include bp(M) {
      width: 60%;
    }

    @include bp(L) {
      width: 45%;
    }
  }

  &__title {
    position: relative;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: margin(XXL);

    font-size: 4rem;
    text-align: center;
    
    // Forms a triangle with CSS. Trick taken from
    // https://css-tricks.com/snippets/css/css-triangle/
    &::before,
    &::after {
      position: absolute;
      display: block;
      // Fix to get centering properly on IE
      right: 50%;
      transform: translateX(50%);

      content: '';
    }
    // Rectangle part
    &::before {
      bottom: -1.5rem;
      width: 20rem;
      height: 0.5rem;

      background-color: color(accent);
      border-radius: radius(small);
    }
    // Triangle part
    &::after {
      // Position at &::before's bottom + &::before's height
      bottom: -2rem;
      width: 0;
      height: 0;
      border-top: 0.5rem solid color(accent);
      border-right: 1.5rem solid transparent;
      border-left: 1.5rem solid transparent;
    }
  }
}

.section:nth-child(odd) {
  background-color: color(black);
  color: color(white);
}

.section:nth-child(even) {
  background-color: color(white);
  color: color(black);
}

// Create diagonal borders
.section:not(#header) {
  // Skew effect from border shrinks padding on bottom
  // Responsively restore it by adding a vw value to
  // bottom. 
  // We don't target last section since the footer that
  // follows it isn't skewed.
  &:not(:last-of-type) {
    padding-bottom: calc(#{padding(XXL)} + 5vw);
  }

  &:nth-child(odd)::before {
    background-color: color(black);
  }

  &:nth-child(even)::before {
    background-color: color(white);
  }

  &::before {
    position: absolute;
    z-index: z(bottom);
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    content: " ";
    transform: skew(0deg, 3deg);
    transform-origin: top right;
  }
}

/*------------------------------------------------------------------
  SPECIFIC SECTIONS
  ------------------------------------------------------------------*/

.section#header { 
  display: relative;
  // Actual height is 100vh, but we superficially increase
  // the height so diagonal borders don't immediately appear in view.
  height: 110vh;
  padding: 0;
}

.section#projects {
  // Remember the projects are wrapped in React Reveal
  // Pass through React Reveal container
  & > * {
    height: 25%;
    width: 100%;
  }
  @include bp(M) {
    & > * .project {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    & > *:nth-child(odd) .project {
      flex-direction: row;
    }
    & > *:nth-child(even) .project {
      flex-direction: row-reverse;
    }
  }
}

.section#about-me {
  .btn-container {
    margin: margin(XL) 0;
  }
}
