.section {
  // Code to place diagonal borders above section
  position: relative;
  z-index: z(above);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: padding(XXL) padding(XXL);

  @include bp(XS) {
    padding: padding(page-S);
  }
  @include bp(S) {
    padding: padding(XXL) padding(page-M);
  }

  &__content {
    width: 100%;
    
    @include bp(M) {
      width: 60%;
    }

    @include bp(L) {
      width: 45%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &__title {
    position: relative;
    display: flex;
    width: 100%;

    margin-bottom: margin(XXL);

    font-size: 4rem;
    text-align: center;
    
    // Forms a triangle with CSS. Trick taken from
    // https://css-tricks.com/snippets/css/css-triangle/
    &::before {
      position: absolute;
      display: block;
      // Fix to get centering properly on IE
      bottom: -1.5rem;
      width: 20rem;
      height: 0.3rem;

      background-color: currentColor;
      border-radius: radius(small);
      content: '';
    }
  }
}

.section:nth-child(odd) {
  background: linear-gradient(to bottom right, color(primary), color(primary-dark)); 
  color: color(white);
}

.section:nth-child(even) {
  background-color: color(white);
  color: color(black);
}

/*------------------------------------------------------------------
  SPECIFIC SECTIONS
  ------------------------------------------------------------------*/

.section#projects-section {
  // Remember the projects are wrapped in React Reveal
  // Pass through React Reveal container
  & > * {
    width: 100%;
    height: 25%;
  }
}

.section#about-me-section {
  .btn-container {
    margin: margin(XL) 0;
  }
}
