.section {
  // Position to be able to place sections on top of background
  // by setting z-index.
  position: relative;
  z-index: z(top);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: padding(XXL) padding(M);

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &__title {
    position: relative;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: margin(XXL) 0;

    font-size: 4rem;
    text-align: center;
    
    // Forms a triangle with CSS. Trick taken from
    // https://css-tricks.com/snippets/css/css-triangle/
    &::before {
      position: absolute;
      bottom: -1.5rem;
      display: block;
      width: 20rem;
      height: 0.5rem;

      background-color: color(accent);
      border-radius: radius(small);
      content: '';
    }
    &::after {
      position: absolute;
      // Position at &::before's bottom + &::before's height
      bottom: -2rem;
      display: block;
      width: 0;
      height: 0;
      border-top: 0.5rem solid color(accent);
      border-right: 1.5rem solid transparent;
      border-left: 1.5rem solid transparent;

      content: '';
    }
  }
}

.section:nth-child(even) {
  background-color: rgba(color(black), 0.8);
  color: color(white);
}

.section:nth-child(odd) {
  background-color: color(white);
  color: color(black);
}

/*------------------------------------------------------------------
  SPECIFIC SECTIONS
  ------------------------------------------------------------------*/

.section#header { 
  // Actual height is 100vh, but we superficially increase
  // the height so diagonal borders appear on top of background
  // image.
  height: 110vh; 
  padding-bottom: 10vh;
}

// Pull projects up into new vacated room from header
.section#projects { margin-top: -5vh; }

.section#about-me { 
  // Pull section below up a bit so diagonal divider shows up.
  margin-bottom: -5vh;

  .btn-container {
    margin: margin(L) 0;
  }
}

.section#form { 
  // Push down to balance the section above pulling up
  padding-top: 10vh;
}

.section:not(:last-of-type) {
  transform: skewY(-$skew);

  & > * {
    transform: skewY($skew);
  }
}