.skills-container {
  max-width: 55rem;
}

.skills {
  display: flex;
  align-items: center;
  padding: padding(XS);

  &__category {
    width: 7rem;
    margin-right: margin(S);

    font-size: 1.8rem;
    text-align: right;
  }

  &__list {
    display: flex;
    width: calc(100% - 7rem);
    flex-wrap: wrap;
  }
}

.skill {
  display: flex;
  width: 4.5rem;
  height: 4.5rem;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: padding(XXS);
  margin: margin(XXS);

  background-color: color(white);
  border-radius: radius(small);
  color: color(black);

  @include bp(L) {
    width: 5.5rem;
    height: 5.5rem;
  }

  &__name {
    font-size: 0.5;
    text-align: center;
  }

  &__icon {
    width: 70%;
    margin-bottom: margin(XXS);
  }
}