.skills {
  margin-bottom: margin(L);

  &__category {
    width: 7rem;
    margin-bottom: margin(XXS);

    font-size: 1.8rem;
  }

  &__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}

.skill {
  display: flex;
  width: 4.5rem;
  height: 4.5rem;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: padding(XXS);
  margin: margin(XXS) margin(XS) margin(XXS) 0;

  background-color: color(white);
  border-radius: radius(small);
  color: color(black);

  @include bp(L) {
    width: 5.5rem;
    height: 5.5rem;
  }

  &__name {
    font-size: 0.5;
    text-align: center;
  }

  &__icon {
    width: 70%;
    margin-bottom: margin(XXS);
  }
}