*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 60%;
  scroll-behavior: smooth;

  @include bp(XXS) {
    font-size: 70%;
  }
  @include bp(XS) {
    font-size: 75%;
  }
}

body {
  background-color: color(black);
  font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
  letter-spacing: 0.3px;
}

.site-container {
  width: 100%;
  & > .section {
    transition: all 1s;
  }
  &.menu-open > .section {
    padding-right: 20%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  letter-spacing: -0.3px;
}

h1,
h2,
h3, {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-style: italic;
}
