*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 60%;
  scroll-behavior: smooth;

  @include bp(XXS) {
    font-size: 70%;
  }
  @include bp(XS) {
    font-size: 75%;
  }
}

body {
  background-color: color(white);
  font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}

@include bp(L) {
  .site-container {
    // Match the padding made to the
    // width of the navigation menu.
    // Remember that the actual menu is
    // 70% of navigations total width.
    padding-right: calc(12.6rem + 4.2vw);
    & > .section {
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
    &.menu-open > .section {
      opacity: 1;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3, {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-style: italic;
}
